table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
			text-align:center;
			margin: auto;
			}
.small{
	width: 80px;
}

.middle{
	width: 200px;
}

.large{
	width: 300px;
}

.x-large{
	width: 400px;
}
.free{
	width: 100%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #f5f6f7;
}

header {
	display: flex;
  } 

.img_logo {
	margin-right: 15px;
	max-width: 150px;    
	margin-top: 20px;
}

.search_box {
	width: 520px;
	height: 50px;
	border: 2px solid #03cf5d;
	display: flex;
	margin-top: 20px;
}

.search_box input {
	width: 90%;
	height: 46px;
	padding-left: 12px;
	padding-right: 12px;
	border: none;
	outline: none;
	font-size: 18px;
	
}

.search_box button {
	width: 10%;
	height: 46px;
	margin: 0;
	padding: 0;
	border: none;
	background: #03cf5d;
}

.search_box i {
	color: white;
	font-size: 22px;
	text-align: center;
}

#keyboard {
	color: lightgray;
	font-size: 20px;
	text-align: center;
	width: 10%;
	padding-top:12px;
}