table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
			text-align:center;
			margin: auto;
			}
.small{
	width: 80px;
}

.middle{
	width: 200px;
}

.large{
	width: 300px;
}

.x-large{
	width: 400px;
}
.free{
	width: 100%;
}

